.password-eye-icon-btn{
    background-color: transparent;
    border: none;
    color: gray;
    &:hover{
        color: black;
    }
}
.password-popover{
    position: absolute;
    bottom: 50px;
    left: 80px;
    &>:last-child{
        display: flex;
        justify-content: center;
        margin-top: -5px;
    }
    &>:first-child{
        padding: 20px;
        background-color: white;
        border: 1px solid rgb(204,204,204);
        font-size: 16px;
    }
    ul{
        list-style:none;
        padding: 0;
        &>:last-child{
            margin-top: 10px;
        }
    }
    li{
        display: flex;
        gap:5px;
        div{
            background-color: #eeee;
            border-radius: 50%;
            width: 14px;
            height: 14px;
            display: flex;
            align-items: center;
            justify-content: center;
            div{
                width: 4px;
                height: 4px;
                background-color: #cccc;
                border-radius: 50%;
            }
        }
    }
    h4{
        font-weight: 500;
        margin: 0 0 10px;
    }
    .valid{
        color: #0e9c64;
        div{
            background-color: #dff7ed;
            div{
                background-color: transparent;
                border-radius: 0;
                border: 1.35px solid #159f69;
                height: 8px;
                width: 4.5px;
                border-top: none;
                border-left: none;
                transform: rotate(45deg);
            }
        }
    }
}