@use "src/variables.scss" as *;
.login-in-other-ways-container{
    width: 100%;
    font-size: 16px;
    .text-seperation{
        color: #ccc;
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        gap: 11px;
        align-items: center;
        margin: -10px 0 10px;
        div{
            background-color:#ccc;
            height: 1px;
        }
    }
    &>:last-child{
        text-align: center;
    }
    a{
        color: $my-orange;
        font-weight: 500;
        text-decoration: none;
        margin-right: 3px;
    }
}
.google-and-apple-btns-container{
    width: 100%;
    display: flex;
    gap: 15px;
    margin: 10px 0 30px;
    button{
        width: calc(50% - 15px);
        background-color: transparent;
        border-radius: 30px;
        border: 1px solid #ccc;
        height: 50px;
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        cursor: pointer;
        &:hover{
            border: 1px solid $my-orange;
            span{
                color: $my-orange;
            }
        }
    }
}